{% extends 'base.html' %}
{% block title %}
    {{title}}
{% endblock %}
		
{% block body %}

					
                        {% for article in article_list%}
                            <article>
                                <h2><a href="{% url 'blog:detail' article.pk %}">{{article.title}}</a><br></h2>
                                <p class="info">{{article.created_time}} | {{article.category}}</p>
                                <div class="clear"></div>
                            </article>
                        {% endfor %}

				
{% endblock %}